<a href="https://colab.research.google.com/github/MarkHallett/-CoLab/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mark Hallett Pandas cheat sheet

## General

In [0]:
import pandas as pd
import numpy as np

In [18]:
d = ({'A':1,'B':'b','C':2.2})
df = pd.DataFrame(d,[0])
df.dtypes

A      int64
B     object
C    float64
dtype: object

In [20]:
df.head(5)

   A  B    C
0  1  b  2.2

In [22]:
df.index

Int64Index([0], dtype='int64')

## Data Into df

In [2]:
import pandas as pd
data1 = { 'a':['b','c'] ,  'B':['A','B'] , 'c':['1','2'] , 'd':['1','2']   }

pd1 = pd.DataFrame(data1)
pd1

   B  a  c  d
0  A  b  1  1
1  B  c  2  2

In [7]:
df2 = pd.DataFrame(
              { 'A' : 1., # All one vlaue
                'B' : pd.Timestamp('20130102'),   # date                   
                'C ' :pd.Series(1,index=list(range(4)),dtype='float32'), # series
                'D' : np.array([3] * 4,dtype='int32'), # array
                'E' : pd.Categorical(["test","train","test","train"]),
                'F' : 'foo', 
                'G' : [1,2,3,4]  # list
              })
df2

     A          B   C   D      E    F  G
0  1.0 2013-01-02  1.0  3   test  foo  1
1  1.0 2013-01-02  1.0  3  train  foo  2
2  1.0 2013-01-02  1.0  3   test  foo  3
3  1.0 2013-01-02  1.0  3  train  foo  4

In [12]:
# eg dates and data
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [13]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  0.904638  0.800514  0.209786 -1.556893
2013-01-02  1.404269  0.022620  0.269261 -1.039994
2013-01-03 -1.355673  1.716740 -1.635053  1.216868
2013-01-04  2.649250  0.727925 -0.449194 -0.152717
2013-01-05  0.146481 -1.367872  1.148938  0.845147
2013-01-06  0.396026 -1.499583 -0.303968  0.043829

## Add to DataFrame

## Modify DataFrame

## Delete from DataFrame

## Reshape DataFrame

## Select from DataFrame