Eg pandas

In [2]:
import pandas as pd

In [13]:
# colum per dict entry
# dict with similar shaped values
data1 = { 'a':['b','c'] ,  'B':['A','B'] , 'c':['1','2'] , 'd':['1','2']   }

pd1 = pd.DataFrame(data1)
pd1

   a  B  c  d
0  b  A  1  1
1  c  B  2  2

In [9]:
# row per dict
# list of dicts
data1 = [ { 'a': 1 ,'b':2}, { 'a': 2 ,'b':3}, { 'a': 4 ,'b':5},  ]

pd1 = pd.DataFrame(data1)
pd1

   a  b
0  1  2
1  2  3
2  4  5

In [17]:
# row per tuple
# list of tuples

data1 = [ (1,2,3), (4,5,6), (7,8,9), (10,11,12) ]

pd1 = pd.DataFrame(data1)
pd1

    0   1   2
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12

In [20]:
pd1.T

   0  1  2   3
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12

In [ ]:
# zipped list of tuples

In [21]:
names = ['Bob','Jessica','Mary','John','Mel']
births = [968, 155, 77, 578, 973]
data = list(zip(names,births))
df = pd.DataFrame(data)
df

         0    1
0      Bob  968
1  Jessica  155
2     Mary   77
3     John  578
4      Mel  973